<!DOCTYPE html>
<html lang="fr">
  <%- include('../templates/head', {title: title})-%>
<body>
  <%- include('../templates/header')-%>
  <main>
    <%- include('../templates/article')-%>
  </main>
  <%- include('../templates/footer')-%>
  <%- include('../templates/scripts/scripts')-%>
  <%- include('../templates/scripts/order')-%>
</body>
</html>
